{{>partials/header}}
<div>
  <button id="botao" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="position:absolute; right: 5px; width: 150px; margin-bottom: 15px; justify-content: right; margin: 10px;"
    type="button" class="btn btn-success">Atribuir</button>
  <br>
</div>
<div align="center" id="paginate">


  <table id="myTable" class="table caption-top">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Classificação</th>
        <th scope="col">Cidade</th>
        <th scope="col">Login</th>
        <th scope="col">Status</th>
        <th scope="col">Vencimento</th>
        <th style="color:rgb(21, 21, 21)" scope="col">Dias de atraso</th>
        <th scope="col">Faturas vencidas</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>aoba</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" title="Adicionar cobrança"
            data-bs-target="#staticBackdrop"><i class="bi bi-plus-square"></i></button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" title="Agendar retorno"
            data-bs-target="#staticBackdrop2"><i class="bi bi-calendar2-minus"></i></button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<form id="form">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" class="clientelogin" value="" name="login">
        <input type="hidden" class="idcliente" value="" name="id_cliente">
        <input type="hidden" class="id_adesao" value="" name="id_adesao">
        <input type="hidden" value="1" name="numero_cobranca">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicionar Cobrança</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modall" data-id="">
          <!-- Conteudo modal -->
          <div class="form-group">
            <label for="message-text" class="col-form-label"><b>Data cobrança</b></label>
            <input type="date" class="form-control" id="message-text"></input>
          </div>
          <!-- /Conteudo modal -->
        </div>
        <div class="modal-footer">
          <button type="button" id="salvarr" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /Modal -->

<!-- Modal -->
<form id="form">
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" class="clientelogin" value="" name="login">
        <input type="hidden" class="idcliente" value="" name="id_cliente">
        <input type="hidden" class="id_adesao" value="" name="id_adesao">
        <input type="hidden" value="1" name="numero_cobranca">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Atribuir cobrança</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modall" data-id="">
          <!-- Conteudo modal -->
          <label class="form-label" value="">Operador</label>
          <select class="form-select" name="operador" aria-label="Default select example">
            <option value='' selected>Responsável</option>

            <option data-id="" value=""></option>

          </select>
          <br>
          <!-- /Conteudo modal -->
        </div>
        <div class="modal-footer">
          <button type="button" id="salvarr" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /Modal -->

<script>

function save(data) {
    console.log(data);
    $.ajax({
      url: '/agendamento',
      method: 'post',
      data,
      // dataType: 'json',
      success: res => {
        alert('Salvo com sucesso')
        location.reload();
      },
      error: e => {
        console.log(e);
        alert('Houve algum erro')
      }
    })
  }


  let clientes = [];
  $(document).ready(() => {
    $("input[type='checkbox']:checked").prop('checked', false);


    $('#salvarr').on('click', function () {
      $("input[type='checkbox']:checked").each(function () {
        const data = {
          login: $(this).data('login'),
          client_id: $(this).data('id'),
          adesao_id: $(this).data('adesao'),
        }
        clientes.push(data)
      });


      const operador = $('[name=operador]').val()


      save({ operador, clientes })
      clientes = []
    })

  })

  function save(data) {
    console.log(data);
    $.ajax({
      url: '/home',
      method: 'post',
      data,
      // dataType: 'json',
      success: res => {
        alert('Salvo com sucesso')
        location.reload();
      },
      error: e => {
        console.log(e);
        alert('Houve algum erro')
      }
    })
  }




  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });


</script>

{{>partials/footer}}