{{>partials/header}}

<style>
  .loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #696767;
    border-radius: 50%;
    border-top-color: #1d1d1d;
    height: 50px;
    width: 50px;
  }

  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
</style>
<!-- <form id="filtro">
<div align="center" style="padding: 0 3rem;">
  <table class="table caption-top">
    <thead>
      <tr>
        <th style="text-align: center; width: 25px;" scope="col">
          <select class="form-select" id="cidadeslist" name="operador" aria-label="Default select example">
            <option value='' selected>Cidade</option>
          </select>
        </th>
        <th style="text-align: center; width: 25px;" scope="col">
          <select class="form-select" id="opparametros" name="operador" aria-label="Default select example">
            <option value='' selected>Status</option>
          </select>
        </th>
        <th style="text-align: center; width: 25px;" scope="col">
          <select class="form-select" name="operador" aria-label="Default select example">
            <option value='' selected>Vencimento</option>
            <option value='5'>5</option>
            <option value='10'>10</option>
            <option value='15'>15</option>
            <option value='20'>20</option>
            <option value='25'>25</option>
          </select>
        </th>
        <th style="text-align: center; width: 10px;" scope="col">
          <button style="margin-left: 0%;"type="submit" id="botaofiltro" class="btn btn-secondary">Filtrar</button>
        </th>
      </tr>
    </thead>
  </table>
</div>
</form> -->

<div>
  <button id="botao" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="position:absolute; right: 5px; width: 150px; margin-bottom: 15px; justify-content: right; margin: 10px;"
    type="button" class="btn btn-success">Atribuir</button>
  <br>
</div>
<div align="center" id="paginate" style="padding: 0 3rem;">
  <table id="myTable" class="table caption-top">
    <thead>
      <tr>

        <th style="text-align: center;" scope="col">Classificação</th>
        <th style="text-align: center;" scope="col">Cidade</th>
        <th style="text-align: center;" scope="col">Login</th>
        <th style="text-align: center;" scope="col">Status</th>
        <th style="text-align: center;" scope="col">Vencimento</th>
        <th style="text-align: center; color:rgb(21, 21, 21)" scope="col">Média de Atraso</th>
        <th style="text-align: center;" scope="col">Faturas vencidas</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="listar-clientes">

    </tbody>
  </table>
  <div id="loading" class="loading"></div>
</div>


<!-- Modal -->
<form id="form">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" class="clientelogin" value="" name="login">
        <input type="hidden" class="idcliente" value="" name="id_cliente">
        <input type="hidden" class="id_adesao" value="" name="id_adesao">
        <input type="hidden" value="N" name="status">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Atribuir cobrança</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modall" data-id="">
          <!-- Conteudo modal -->
          <label class="form-label" value="">Operador</label>
          <select class="form-select" id="operadores-list" name="operador" aria-label="Default select example">
            <option value='' selected>Selecione</option>
          </select>
          <br>
          <!-- /Conteudo modal -->
        </div>
        <div class="modal-footer">
          <button type="button" id="salvarr" class="btn btn-primary">Salvar</button>
        </div>

      </div>
    </div>
  </div>
</form>

<!-- /Modal -->

<script>

  $.ajax({

    type: 'GET',
    url: 'http://integra2hm.micron.com.br/integra/apis/sis-cobranca/operadores-cobranca',
    dataType: 'json',
    success: function (data) {

      let options = ''

      for (operador of data) {

        options += `
      <option data-id="${operador.id}" name="operador" value="${operador.id}">${operador.nome}</option>
      
      `
      }

      $("#operadores-list").append(options)

    }

  });


$.ajax({

type: 'GET',
url: 'http://localhost:8888/integra/apis/sis-cobranca/cidades-atendidas',
dataType: 'json',
success: function (data) {

  let options = ''

  for (var i = 0; i < data.cidades.length; i++ ) {

    let cidade = data.cidades[i].CIDADE_DESCRICAO

  options += `
  <option value='${cidade}'>${cidade}</option>
  `
}

   $("#cidadeslist").append(options)

}

});



  $.ajax({

    type: 'GET',
    url: `http://localhost:8888/integra/apis/sis-cobranca/listar-clientes`,
    dataType: 'json',
    success: function (data) {


      let content = '';

      for (cliente of data.clientes) {
        let atraso = (cliente.dias_atraso == '0') ? cliente.dias_atraso : cliente.dias_atraso+' dias';

        
        content += `
            <tr>
            
              <td>${cliente.classificacao || '-'}</td>
              <td>${cliente.cidade || '-'}</td>
              <td>${cliente.login || '-'}</td>
              <td>${cliente.status_login || '-'}</td>
              <td>Dia ${cliente.dia_vencimento || '-'}</td>
              <td>${atraso}</td>
              <td>${cliente.boletos_vencidos || '-'}</td>
              <td>
                <input style="width: 25px; height: 25px; border-color: rgb(55, 55, 55);" data-id="${cliente.id_cliente}"
                  data-login="${cliente.login}" data-adesao="${cliente.id}" id="valor" class="big-cehckboc form-check-input" type="checkbox"
                  value="" id="flexCheckDefault">
              </td>
              
            </tr>`

      }

      const table = $("#myTable")
      table.DataTable().destroy()
      $("#listar-clientes").html(content)
      table.DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json"
        }
      });

      $('#loading').removeClass('loading')
      $('#pagi').css('display', 'block')

      // currentPage = pagege
    }

  });


$.ajax({

type: 'GET',
url: `http://localhost:8888/integra/apis/sis-cobranca/atributos-parametros`,
dataType: 'json',
success: function (data) {

  let content = '';

  for (var i = 0; i < data.parametros.length; i++ ) {

    content += `
    <option value='${data.parametros[i].atributo}'>${data.parametros[i].atributo}</option>
    
    `
  }

  $("#opparametros").append(content)

}

});



  let clientes = [];
  $(document).ready(() => {
    $("input[type='checkbox']:checked").prop('checked', false);

    $('#salvarr').on('click', function () {
      $("input[type='checkbox']:checked").each(function () {
        const data = {
          login: $(this).data('login'),
          client_id: $(this).data('id'),
          adesao_id: $(this).data('adesao'),
        }
        clientes.push(data)
      });

      const operador = $('[name=operador]').val()
      const status = $('[name=status]').val()

      save({ status, operador, clientes })
      clientes = []
    })


  })


  function save(data) {
    
    $.ajax({
      url: '/home',
      method: 'post',
      data,
      // dataType: 'json',
      success: res => {
        alert('Salvo com sucesso')
        location.reload();
      },
      error: e => {
        console.log(e);
        alert('Houve algum erro')
      }
    })
  }


  $(document).ready(function () {

    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });




  $('#listar-clientes').on('click', '.form-check-input', function () {

    let quantCheck = $('.form-check-input:checked').length;

    if (quantCheck != 0) {
      $('#botao').css('display', 'block')
      $('#paginate').css('margin-top', '30px')
    }
    else {
      $('#botao').css('display', 'none')
      $('#paginate').css('margin-top', '0px')
    }
  });

</script>

{{>partials/footer}}