{{>partials/header}}

<style>
  .loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #696767;
    border-radius: 50%;
    border-top-color: #1d1d1d;
    height: 50px;
    width: 50px;
  }

  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

  .loading2 {
    margin: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 4px #FFFFFF solid;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #filtropesquisa {
    margin-top: 10px;
    margin-left: 5rem;
  }
</style>
<div id="filtropesquisa" class="row">
  <div class="col-12">
    <form id="filtro">
      <div class="row mr-2 ml-2 container-fluid">
        <div class="col-md-2 container-fluid" align="center">
          <label class="form-label">Cidade</label>
          <select class="form-control filtro enviafiltro" multiple id="cidadeslist" name="cidade">
          </select>
        </div>
        <div class="col-md-2" align="center">
          <label class="form-label">Status</label>
          <select class="form-select filtro2 enviafiltro" multiple="multiple" id="opparametros" name="status_login">
          </select>
        </div>
        <div class="col-md-2" align="center">
          <label class="form-label">Vencimento</label>
          <select placholder="Selecione um dia" class="form-select filtro3 enviafiltro" id="dias" multiple="multiple"
            name="dia_vencimento">
            <option data-dia="5" value='5'>5</option>
            <option data-dia="10" value='10'>10</option>
            <option data-dia="15" value='15'>15</option>
            <option data-dia="20" value='20'>20</option>
            <option data-dia="25" value='25'>25</option>
          </select>
        </div>
        <div class="col-md-2" align="center">
          <label class="form-label">Classificação</label>
          <select placholder="Selecione uma classificacao" class="form-select filtro4 enviafiltro" id="classificacao"
            multiple="multiple" name="classificacao">
            <option value='0'>Primeiro atraso</option>
            <option value='1'>Segundo atraso</option>
            <option value='2'>Terceiro atraso</option>
            <option value='3'>Atrasa com frequência</option>
          </select>
        </div>
        <div class="col-md-2 row" align="center" style="margin-top: -3px;">
          <label class="form-label">Média de Atraso</label>
          <div class="col">
            <input placeholder="Min" style="height:33px; border-color: #b6b3b3; padding-right: 5px; padding-left: 5px;"
              value="" type="number" id="nmin" class="form-control filtro5 enviafiltro" name="dias_atraso_min">
          </div>
          <div class="col">
            <input placeholder="Max" style="height:33px; border-color: #b6b3b3; padding-right: 5px; padding-left: 5px;"
              value="" type="number" id="nmax" class="form-control filtro5 enviafiltro" name="dias_atraso_max">
          </div>
        </div>
        {{! <div class="col-md-2" align="center" style="margin-top: -3px;">
          <label class="form-label">Período</label>
          <select placholder="Selecione um dia" class="form-select enviafiltro" name="periodo">
            <option data-p="" value='4'>4 Meses</option>
            <option data-p="" value='6' selected>6 Meses</option>
            <option data-p="" value='8'>8 Meses</option>
            <option data-p="" value='10'>10 Meses</option>
            <option data-p="" value='12'>1 Ano</option>
          </select>
        </div> }}
        <div align="center" style="margin-top:-3px" class="col-md-2">
          <br>
          <button type="submit" id="botaofiltro" class="btn btn-secondary">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <button id="botao" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="position:absolute; right: 5px; width: 150px; margin-bottom: 15px; justify-content: right; margin: 10px;"
    type="button" class="btn btn-success">Atribuir</button>
  <br>
</div>
<div align="center" id="paginate" style="padding: 0 3rem;">
  <table id="myTable" class="table caption-top">
    <thead>
      <tr>

        <th style="text-align: center;" scope="col">Classificação</th>
        <th style="text-align: center;" scope="col">Cidade</th>
        <th style="text-align: center;" scope="col">Login</th>
        <th style="text-align: center;" scope="col">Status</th>
        <th style="text-align: center;" scope="col">Vencimento</th>
        <th style="text-align: center; color:rgb(21, 21, 21)" scope="col">Média de Atraso</th>
        <th style="text-align: center;" scope="col">Faturas vencidas</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="listar-clientes">

    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div align="center" class="col-md-4">
    <div id="loading" class="loading">
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>

<!-- Modal -->
<form id="form">
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <input type="hidden" class="clientelogin" value="" name="login">
        <input type="hidden" class="idcliente" value="" name="id_cliente">
        <input type="hidden" class="id_adesao" value="" name="id_adesao">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Atribuir cobrança</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modall" data-id="">
          <!-- Conteudo modal -->
          <label class="form-label" value="">Operador</label>
          <select class="form-select" id="operadores-list" name="operador" aria-label="Default select example">
            <option id="operador-lista" value='' selected>Selecione</option>
          </select>
          <br>
          <!-- /Conteudo modal -->
        </div>
        <div class="modal-footer">
          <button type="button" id="salvarr" class="btn btn-primary">Salvar</button>
        </div>

      </div>
    </div>
  </div>
</form>

<!-- /Modal -->

<script>


  // $("#botaofiltro").click(function () {
  //   if ($('#nmin').val() < 0 || $('#nmin').val() < 0) {
  //     alert('Valor inserido é menor que 0');
  //     return false;
  //   }
  // });


  let url_api = '{{url}}'.replaceAll('&#x2F;', '/');


  function listOperadores() {
    $.ajax({
      type: 'GET',
      url: `${url_api}/apis/sis-cobranca/operadores-cobranca`,
      dataType: 'json',
      success: function (data) {

        let options = ''

        for (operador of data) {

          options += `
      <option data-id="${operador.id}" name="operador" value="${operador.id}">${operador.nome}</option>
      
      `
        }

        $("#operadores-list").append(options)

      }

    })
  }


  function listCidades() {
    $.ajax({

      type: 'GET',
      url: `${url_api}/apis/sis-cobranca/cidades-atendidas`,
      dataType: 'json',
      success: function (data) {

        let options = ''

        for (var i = 0; i < data.cidades.length; i++) {

          let cidade = data.cidades[i].CIDADE_DESCRICAO

          options += `<option data-cidade='${cidade}' value='${cidade}'>${cidade}</option>`
        }

        $("#cidadeslist").append(options)

      }

    });
  }


  function list(filter = null) {
    $.ajax({

      type: 'POST',
      url: `${url_api}/apis/sis-cobranca/listar-clientes`,
      data: filter,
      dataType: 'json',
      success: function (data) {


        let content = '';

        for (cliente of data.clientes) {
          let atraso = (cliente.dias_atraso == '0') ? cliente.dias_atraso : cliente.dias_atraso + ' dias';


          content += `
          <tr>
          
            <td>${cliente.classificacao || '-'}</td>
            <td>${cliente.cidade || '-'}</td>
            <td>${cliente.login || '-'}</td>
            <td>${cliente.status_login || '-'}</td>
            <td>${cliente.dia_vencimento || '-'}</td>
            <td>${atraso}</td>
            <td>${cliente.boletos_vencidos || '-'}</td>
            <td>
              <input style="width: 25px; height: 25px; border-color: rgb(55, 55, 55);" data-id="${cliente.id_cliente}"
                data-login="${cliente.login}" data-adesao="${cliente.id}" class="big-cehckboc form-check-input select-item" type="checkbox"
                value="" id="flexCheckDefault">
            </td>
            
          </tr>`

        }

        const table = $("#myTable")
        table.DataTable().destroy()
        $("#listar-clientes").html(content)
        table.DataTable({
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.13.2/i18n/pt-BR.json"
          }
        });

        $('#loading').removeClass('loading')
        $('#paginate').css('display', 'block')

        $('#botaofiltro').on('click', function () {

          if ($('#nmin').val() < 0) {
          alert('Valor inserido não pode ser menor que zero');
          $('#loading').removeClass('loading');
          
        }
          $('#paginate').css('display', 'none')
          $('#loading').addClass('loading');

        });

      }

    })
  }

  function listStatuses() {
    $.ajax({

      type: 'GET',
      url: `${url_api}/apis/sis-cobranca/atributos-parametros`,
      dataType: 'json',
      success: function (data) {

        let content = '';

        for (var i = 0; i < data.parametros.length; i++) {

          content += `
    <option data-status='${data.parametros[i].atributo}' value='${data.parametros[i].atributo}'>${data.parametros[i].atributo}</option>
    
    `
        }

        $("#opparametros").append(content)

      }

    });
  }


  let clientes = [];

          function save(data) {
        
            $.ajax({
              url: '/home',
              method: 'post',
              data,
              // dataType: 'json',
              success: res => {
                alert('Salvo com sucesso')
                location.reload();
              },
              error: e => {
                console.log(e);
                alert('Houve algum erro')
              },
              complete: () => {
                $(".select-item").prop('checked', false);
                clientes = []
              }
            })
          }


  $('.filtro3').select2({
    placeholder: "Selecione",
    allowClear: true
  });

  $('.filtro4').select2({
    placeholder: "Selecione",
    allowClear: true
  });


  $(document).ready(function () {

    let selectedItems = []

    $('.filtro').select2({
      placeholder: "Selecione",
      allowClear: true
    });

    $('.filtro2').select2({
      placeholder: "Selecione",
      allowClear: true
    });

    // $('.filtro3').select2({
    //   placeholder: "Vencimento",
    //   allowClear: true
    // });

    // $('.filtro4').select2({
    //   placeholder: "Classificação",
    //   allowClear: true
    // });

    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $('#listar-clientes').on('click', '.form-check-input', function () {

      let quantCheck = $('.form-check-input:checked').length;

      if (quantCheck != 0) {
        $('#botao').css('display', 'block')
        $('#paginate').css('margin-top', '30px')
      }
      else {
        $('#botao').css('display', 'none')
        $('#paginate').css('margin-top', '0px')
      }
    });

    $("#botaofiltro").click(function () {

      if ($('#nmin').val() < 0) {

          alert('Valor inserido não pode ser menor que zero');
          location.reload();
          $('#loading').removeClass('loading');
          
        } else {
          $('#filtro').on('submit', function (e) {
            e.preventDefault()
            const form = $('#filtro')
            const fields = form.find('.enviafiltro')
            const data = {}
    
            fields.each((i, el) => {
              data[$(el).attr('name')] = $(el).val()
            })
    
            list(data)
          });

        }
      
    });



    $('#listar-clientes').on('change', '.select-item', function () {
      const selected = $(this).is(':checked')
      const login = $(this).data('login')

      if (selected) {
        const data = {
          login,
          client_id: $(this).data('id'),
          adesao_id: $(this).data('adesao'),
        }
        clientes.push(data);
      } else {
        clientes.splice(clientes.findIndex(i => { i.login == login }), 1)
      }

      // console.log(clientes);
    })

    $("input[type='checkbox']:checked").prop('checked', false);


    $('#salvarr').on('click', function () {

      const operador = $('[name=operador]').val()

  if (operador.length < 1) {
      alert('Por favor, selecione um operador!');
      document.getElementById("operador-lista").focus();
      return false;
    }else {
      $('#salvarr').html('<div class="loading2"></div>')
      save({ status: 'N', operador, clientes })
      clientes = []
    }
    })
    list()
    listCidades()
    listOperadores()
    listStatuses()
    
  });

</script>

{{>partials/footer}}