{{>partials/header}}
<div align="center">

 <table>
  <thead>
    <tr>
      <th>Responsável</th>
      <th>Data</th>
      <th>Login</th>
      <th>Cidade</th>
      <th>Resultado</th>
      <th>Prioridade</th>
      <th>Probabilidade</th>
      <th>Classificação</th>
    </tr>
  </thead>
    <tr>
      <td><select class="form-select" aria-label="Default select example">
  <option value="1">Nalva</option>
  <option value="1">Hellen</option>
  <option value="1">Renata</option>
  <option value="1">Gabriel</option>
  </select>
  </td>
      <td>23/10/2022</td>
      <td>matheus.carvalho</td>
      <td>IBATIBA</td> 
      <td><select class="form-select" aria-label="Default select example">
  <option value="1">Cliente novo</option>
  <option value="2">Primeira vez em atraso</option>
  <option value="2">Não costuma atrasar</option>
  <option value="2">Sempre atrasa</option>
  <option value="2">Offline</option>
</select></td> 
      <td>Alta</td>   
      <td>23/10</td> 
      <td>8</td>           
    </tr>
</table> 
</div>

{{>partials/footer}}