{{>partials/header}}

<div align="center">
<br>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Login</th>
      <th scope="col">Cidade</th>
      <th scope="col">Cobrança 1</th>
      <th scope="col">Cobrança 2</th>
      <th scope="col">Cobrança 3</th>
      <th scope="col">Situação</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody> 

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td></td>
      <td></td>
      <td>Ativo / Desativou</td>
      <td>
      </td>
    </tr>

  </tbody>
</table>
</div>

{{>partials/footer}}
