{{>partials/header}}
<div align="center" >
<br>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Responsável</th>
      <th scope="col">Data</th>
      <th scope="col">Login</th>
      <th scope="col">Cidade</th>
      <th scope="col">Resultado</th>
      <th scope="col">Prioridade</th>
      <th scope="col">Probabilidade</th>
      <th scope="col">Classificação</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      {{#users}}
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td>{{nome}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      {{/users}}
    </tr>
  </tbody>
</table>
</div>
{{>partials/footer}}