{{>partials/header}}

<style>
    .progress{
        margin-top: 15px
    }

    .loading {
        margin: 1rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border: 3px #FFFFFF solid;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
</style>
<div class="container">
    <div class="pt-4 d-flex flex-row m2 justify-content-center">
        <div class="caixaat col-md-4 col-xs-12 col-sm-4 adm-inc">
            <div class="info-tiles tiles-toyo " id="novo-colaborador" href="">
                <br>
                <div class="tiles-heading text-center">
                    <H6 style="color: #FFFFFF">Atribuir Cobranças</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center loading" id="atribuir"></div>
                </div>
                <p><a href="/atribuir" class="col-sm-12 btn btn-secondary">Ir para atribuição</a></p>
            </div>
        </div>
        <div class="caixacob col-md-4 col-xs-12 col-sm-4">
            <div class="info-tiles tiles-success"  href="#">
                <br>
                <div class="tiles-heading2 text-center">
                    <H6 style="color: #FFFFFF">Nova cobrança</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center loading" id="atribuir2">
                    </div>
                </div>
                <p><a href="/cobranca" class="col-sm-12 btn btn-success">Iniciar cobrança</a></p>
            </div>
        </div>
        <div class="caixaage col-md-4 col-xs-12 col-sm-4">
            <div class="info-tiles tiles-orange" id="colaborador-ferias" href="#">
                <br>
                <div class="tiles-heading3 text-center">
                    <H6 style="color: #FFFFFF">Cobranças Agendadas</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center loading" id="atribuir3">
                    </div>
                </div>
                <p><a href="#" class="col-sm-12 btn btn-dark">Cobranças agendadas</a></p>
            </div>
        </div>
    </div>
</div>
<!-- <div id="barras" class="container" style="width: 50%;" align="right">
    <div class="progress" style="height: 20px;">
        <div class="progress-bar"  role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 20px;">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
</div> -->

    <script>

let url_api = '{{url}}'.replaceAll('&#x2F;', '/');

        $.ajax({
            type: 'GET',
            url: `${url_api}/apis/sis-cobranca/contagem-listar-clientes`,
            success: function(data){

                let total = data.clientes.total
                const content = `
                    <h4 style="color: #FFFFFF">${total}</h4>
                    <small style=" color: #FFFFFF">Aguardando atribuição</small>
                `
                $('#atribuir').removeClass('loading').html(content);

            }
        });

        $.ajax({
            type: 'GET',
            url: `${url_api}/apis/sis-cobranca/contagem-listar-clientes-atribuidos`,
            success: function(data){

                let totalatribuido = data.clientes.total
                const content = `
                    <h4 style="color: #FFFFFF">${totalatribuido}</h4>
                    <small style=" color: #FFFFFF">Aguardando cobrança</small>
                `
                $('#atribuir2').removeClass('loading').html(content);

            }
        });

        $.ajax({
            type: 'GET',
            url: `${url_api}/apis/sis-cobranca/contagem-cobranca-agendamento`,
            success: function(data){

              

                let totalagendado = data.clientes.total
                const content = `
                    <h4 style="color: #FFFFFF">${totalagendado}</h4>
                    <small style=" color: #FFFFFF">Aguardando cobrança</small>
                `
                $('#atribuir3').removeClass('loading').html(content);

            }
        });
    </script>