{{>partials/header}}

<style>
    .progress {
        margin-top: 15px
    }

    .loading {
        margin: 1rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border: 3px #FFFFFF solid;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>
<div class="container">
    <div class="pt-4 d-flex flex-row m2 justify-content-center">
        <div class="caixaat col-md-4 col-xs-12 col-sm-4 adm-inc">
            <div class="info-tiles tiles-toyo " id="novo-colaborador" href="">
                <br>
                <div class="tiles-heading text-center">
                    <H6 style="color: #FFFFFF">Cobranças Pendentes</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center loading" id="atribuir"></div>
                </div>
                <p><a href="/atribuir" class="col-sm-12 btn btn-secondary">Abrir Listagem</a></p>
            </div>
        </div>
        <div class="caixacob col-md-4 col-xs-12 col-sm-4">
            <div class="info-tiles tiles-success" href="#">
                <br>
                <div class="tiles-heading2 text-center">
                    <H6 style="color: #FFFFFF">Cobranças Pagas</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center loading" id="atribuir2">
                    </div>
                </div>
                <p><a href="/pagas" class="col-sm-12 btn btn-success">Abrir Listagem</a></p>
            </div>
        </div>
        <div class="caixaage col-md-4 col-xs-12 col-sm-4">
            <div class="info-tiles tiles-orange" id="colaborador-ferias" href="#">
                <br>
                <div class="tiles-heading3 text-center">
                    <H6 style="color: #FFFFFF">Relatórios</H6>
                </div>
                <div class="adm-inc d-flex justify-content-center">
                    <div class="text-center" id="atribuir3">
                        <h4 style="color: #FFFFFF"><i class="bi bi-bar-chart-fill"></i></h4>
                        <small style=" color: #FFFFFF">Detalhes</small>
                    </div>
                </div>
                <p><a href="/relatorio" class="col-sm-12 btn btn-dark">Abrir Relatórios</a></p>
            </div>
        </div>
    </div>
</div>

<script>

    function carregar() {

        let url_api = '{{url}}'.replaceAll('&#x2F;', '/');

        $.ajax({
            type: 'GET',
            url: `${url_api}/apis/sis-cobranca/contagem-listar-clientes`,
            dataType: 'json',
            success: function (data) {
                let total = data.clientes[0].total
                const content = `
                        <h4 style="color: #FFFFFF">${total}</h4>
                        <small style=" color: #FFFFFF">Clientes em atraso</small>
                    `
                $('#atribuir').removeClass('loading').html(content);

            },
            error: function (xhr, status, error) {
                console.log(xhr.status + ': ' + xhr.statusText);
                console.log('Error: ' + error);
            }

        });

        $.ajax({
            type: 'GET',
            url: `${url_api}/apis/sis-cobranca/contagem-clientes-pagos`,
            dataType: 'json',
            success: function (data) {
                let totalatribuido = data.clientes[0].total
                const content = `
                        <h4 style="color: #FFFFFF">${totalatribuido}</h4>
                        <small style=" color: #FFFFFF">Realizaram o pagamento</small>
                    `
                $('#atribuir2').removeClass('loading').html(content);

            },
            error: function (xhr, status, error) {
                console.log(xhr.status + ': ' + xhr.statusText);
                console.log('Error: ' + error);
            }

        });

        // $.ajax({
        //     type: 'GET',
        //     url: `${url_api}/apis/sis-cobranca/contagem-cobranca-agendamento`,
        //     success: function(data){



        //         let totalagendado = data.clientes.total
        //         const content = `
        //             <h4 style="color: #FFFFFF">${totalagendado}</h4>
        //             <small style=" color: #FFFFFF">Detalhes</small>
        //         `
        //         $('#atribuir3').removeClass('loading').html(content);

        //     }
        // });

    }

    $(document).ready(function () {
        carregar();
    });

</script>