{{>partials/header}}

<div align="center">
<br>
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Login</th>
      <th scope="col">Cidade</th>
      <th scope="col">Vencimento</th>
      <th scope="col">Provável pagamento</th>
      <th scope="col">Última cobrança</th>
      <th scope="col">Data agendamento</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody> 

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td></td>
      <td></td>
      <td>15/10/2022</td>
      <td>
      </td>
    </tr>

  </tbody>
</table>
</div>

{{>partials/footer}}
